/* Basic CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "plain light"
}

html, body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  height: 100%;
  width: 100%;
  color: white;
}


#loader{
  height: 100%;
  width: 100%;
  background-color: #0B0B0B;
  position: fixed;
  z-index: 999;
  padding: 20vh 10vw ;

}

#loader h1{
    font-size: 6vw; 
  text-transform: uppercase;
}

.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-bottom: 5px; */
  gap: .5vw;
}


#line1-part1{
  display: flex;
align-items: center;
justify-content: center;
gap: .5vw;
}


#line1-part1 h5, 
#line1-part1 h6 {
  font-size: 3vw;
  font-family: "Silk Serif", serif;
  font-weight: 400;
  font-style: italic;
}



.line > h1{
font-size: 6vw;
text-transform: uppercase;
font-weight: 500 ;
}


.line h2{
  font-size: 5.5vw ;
  text-transform: uppercase;
  font-weight: 900;
opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes anime {
0%{
font-family: "plain light";
-webkit-text-stroke: 1px #fff; color:#fff;
font-weight: 500;
opacity: 1;
}
48%{
font-family: "plain light"; -webkit-text-stroke: 1px #fff; color: #fff;
font-weight: 500;
opacity: 0;


}
50%{
font-family: 'silk serif'; -webkit-text-stroke: 1px #fff; font-weight: 500;
color: transparent;
opacity: 1;
font-style: italic;
}
100%{
font-family: 'silk serif'; -webkit-text-stroke: 1px#fff; font-weight: 500;
color: transparent;
opacity: 0;
}
}

.line:last-child {   
  gap: 1rem;            
}


#main{
  position: relative;
  color: #030303;
}

#page1{
  height: 100vh;
  width: 100%;
  background-color: #0B0B0B;
}#page2{
  height: 100vh;
  width: 100%;
  background-color: #0B0B0B;
}#page3 {
  height: 100vh;
  width: 100%;
  background-color: #0B0B0B;
}



#crsr{
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  /* background-color: white; */
  border: 1px solid rgb(230, 225, 225);
  position: fixed;
  z-index: 999;
  mix-blend-mode: difference;
  transform: translate(-50%) , -50%;
}

#page1 #nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 4vw;
  color: white;
}

#nav-part2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  
}

#nav-part2 h4{
  font-size: 1vw;
  font-weight: 500;
  text-transform: capitalize;
} 



.hero{
  /* background-color: red; */
  width: 73%;
  margin-left: 27%;
  color: white;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999;
}


.hero:nth-child(2){
  margin-top: 21vh;
}


.hero h1{
  font-weight: 500;
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
}

.hero h2 , .hero h3{
  font-weight: 500;
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
}

.hero h2:hover{
  -webkit-text-stroke: 1px  #fff;
  color: transparent;
  font-weight: 500;
}