/* Basic CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    color: red;
}
#page2{
    height: 100%;
    width: 100%;
    color: rgb(255, 0, 157);
}
#page3{
    height: 100%;
    width: 100%;
    color: rgb(0, 255, 234);
}